* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.dark {
    height: auto;
    width: 100%;
    background-color: aqua;
}

.white {
    height: auto;
    width: 100%;
    background-color: white;
}

.mainPrt {
    width: inherit;
}

.mainPrt button {
    padding: 10px;
    cursor: pointer;
}

.design img {
    height: 200px;
    width: 150px;
}

.displayContent {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}